<!DOCTYPE html>
<html ⚡ lang="en">
  {% include head.html %}
  <body>
  
	  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	  <link href='https://fonts.googleapis.com/css?family=Lora:400,700' rel='stylesheet' type='text/css'>
    {% include header.html %}

    {{ content }}

	<amp-analytics type="googleanalytics" id="analytics1">
	<script type="application/json">
	{
	  "vars": {
	    "account": "UA-47482966-2" 
	  },
	  "triggers": {
	    "trackPageview": { 
	      "on": "visible",
	      "request": "pageview"
	    }
	  }
	}
	</script>
	</amp-analytics>
    
  </body>
</html>
